_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor

ajax-load/
node_modules/
assets/js/classycountdown/doc.html
assets/js/classycountdown/index.html
assets/fonts/flaticons/flaticon-set-charity.html