<header id="header" class="header">
    <div class="header-nav">
      <div class="header-nav navbar-fixed-top header-dark navbar-white navbar-transparent navbar-sticky-animated animated-active">
        <div class="container-fluid">
          <nav id="menuzord-right" class="menuzord default"><a class="menuzord-brand pull-left flip xs-pull-left mt-15 " href="/" ><img src="{{ site.data.header.logo }}" alt="{{ site.title }}" width="auto"></a>
            <ul class="menuzord-menu ">
              <li id="home"><a href="/" style="font-weight: bold; text-transform: uppercase;">Home</a>
                
              </li>
              <li><a href="/about.html" style="font-weight: bold; text-transform: uppercase;">What we do</a>
                <ul class="dropdown">
                  <li ><a href="/about.html" style="font-weight: bold;">About Us</a></li>
                  <li><a href="/donors.html" style="font-weight: bold;">Donors & Partners</a></li>
                  <li><a href="/faq.html" style="font-weight: bold;">FAQ</a></li>
                </ul>
              </li>
              <script type="text/javascript">
                $(document.getElementById("portal")).ready(function() {
                  $(document.getElementById("portal")).addClass('active');
                });
                
              </script>
               
              <!--<li><a href="/our_work.html">Our Work</a>
                <ul class="dropdown">
                  <li><a href="#">Our Approach</a></li>
                  <li><a href="#">Our Intervention Area</a></li>

                  
                </ul>
              </li>
               <li><a href="" style="font-weight: bold; text-transform: uppercase;">Our Work</a>
                <ul class="dropdown">
                  {% for component in site.components %}
                  <li ><a href="{{ component.url }}" style="font-weight: bold;">{{ component.title }}</a></li>
                  {% endfor %}
                </ul>
              </li>-->
              <li><a href="" style="font-weight: bold; text-transform: uppercase;">Impact</a>
                <ul class="dropdown">
                  <li><a href="/indicators.html" style="font-weight: bold;">Project Results</a></li>
                  <li><a href="/stories.html" style="font-weight: bold;">Success Stories</a></li>
                </ul>
              </li>
              <li><a href="" class="" style="font-weight: bold; text-transform: uppercase;">News & events</a>
                <ul class="dropdown">
                  <li><a href="/blog.html" style="font-weight: bold;">Latest News</a></li>
                  <li><a href="/events.html" style="font-weight: bold;">Latest Events</a></li>
                  <li><a href="/press.html" style="font-weight: bold;">Press Releases</a></li>
                  <li><a href="/publications.html" style="font-weight: bold;">Publications</a></li>
                </ul>
              </li>
              <!--<li><a href="javascript:void(0)" class="hidden-xs" style="font-weight: bold; text-transform: uppercase;">News and events</a>
                <div class="megamenu ">
                  <div class="megamenu-row">
                    <div class="col4">
                      <h3 class="mb-20 line-bottom">Main Menu:</h3>
                      <ul class="list-unstyled list-dashed">
                        
                        <li><a href="/blog.html" style="font-weight: bold;"><h3>Our News</h3></a></li>
                        <li><a href="/events.html" style="font-weight: bold;"><h3>Events</h3></a></li>
                        <li><a href="/press.html"><h3>Press Releases</h3></a></li>
                        <li><a href="/publications.html" style="font-weight: bold;"><h3>Publications</h3></a></li>
                        
                      </ul>
                    </div>
                    <div class="col4">
                      <h3 class="mb-20 line-bottom">Next Event:</h3>
                      <article class="post clearfix">
                        <div>
                          {% assign last_event = site.events | last %}
                          <div class="post-thumb"><a href="{{ last_event.url }}"> <img class="img-responsive" src="{{ last_event.image }}" alt="" style="width: 60%; height: auto; margin-bottom: 12px;"> </a></div>
                          <h4 class="entry-title"><a href="{{ last_event.url }}"><b>{{ last_event.title }}</b></a> - <span style="font-style: italic;">{{ last_event.start_date | date: "%b %d, %y" }}</span></h4>
                        </div>
                       
                      </article>
                    </div>
                  
                    <div class="col4">
                      <h3 class="mb-30 line-bottom">Latest Articles:</h3>
                      <div class="list-dashed">
                        {% for post in site.posts limit:4 %}
                        <article class="post media-post clearfix pb-0 mb-10"> <a href="{{ post.url }}" class="post-thumb"><img alt="" src="{{ post.image }}" style="width: 50px; height: 50px;"></a>
                          <div class="post-right">
                            <h5 class="post-title mt-0 text-justify"><a href="{{ post.url }}">{{ post.title }}</a></h5>
                            <p class="post-date mb-0 font-12">{{ post.publication_date | date: '%b' }} {{ post.publication_date | date: '%d' }}, {{ post.publication_date | date: '%y' }}</p>
                          </div>
                        </article>
                        {% endfor %}
                      </div>
                    </div>
                    
                  </div>
                </div>
              </li>-->
              <li><a href="javascript:void(0)" style="font-weight: bold; text-transform: uppercase;">Get Involved</a>
                <ul class="dropdown">
                  <li><a href="/contact.html" style="font-weight: bold;"><span>Contact Us</span></a></li>
                  <li><a href="/join_us.html" style="font-weight: bold;"><span>Join Our Team</span></a></li>
                  <li><a href="/volunteer.html" style="font-weight: bold;"><span>Become A Volunteer</span></a></li>
                </ul>
              </li>
              <li class="hidden-xs">
                <a href="https://www.shelter.org/donate" target="blank" class="btn btn-grey  btn-flat hvr-pulse" style="font-weight: bold; text-transform: uppercase;">Donate Now <i class="fa fa-arrow-circle-right pull-right"></i></a>
              </li>
            </ul>
            <script type="text/javascript">
              const loc = location.href;

              const menuItem = document.querySelectorAll('#home a, .dropdown li a');

              const menuLength = menuItem.length;
              //alert(menuLength);
              for (let i = 0; i < menuLength; i++) {
                if (menuItem[i].href === loc) {
                  if(menuItem[i].parentNode.id === "home"){
                    menuItem[i].parentNode.className = "active";
                  } else {
                    menuItem[i].parentNode.parentNode.parentNode.className = "active";
                    menuItem[i].parentNode.className = "active";
                  }
                  
                }
              }
            </script>
          </nav>
        </div>
      </div>
    </div>
  </header>