---
layout: default
---

<!-- Start main-content -->
<div class="main-content">
	<!-- Section: inner-header -->
  {% include page_title.html %}
  <section class="pb-20">
    <div class="container pb-0">
      <div class="section-content">
        <div class="row">
          {% assign first = page.first_section %}
          {% assign slides = first.slider_images %}
          <div class="col-md-6">
            <div class="owl-carousel-1col text-center" data-nav="false">
              {% for slide in slides %}
              <div class="item">
                <img src="{{ slide }}" alt="">                
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="col-md-6">
            <h1 class="heading-title text-uppercase line-bottom">{{ first.title }}</h1>
            <!--<h2 class="text-theme-colored mt-0 mb-20 text-justify" style="font-weight: bold; font-size: 21px;">The Linking Infrastructure, Finance, and Farms to Cashew (LIFFT-Cashew) is a sub-regional project designed to create a more integrated and durable regional network in the Senegal, The Gambia, and Guinea-Bissau cashew production zone (SeGaBi Zone).</h2>-->
            <p class="text-justify" style="font-size: 17px;">{{ first.text_content }}</p>
            
          </div>
        </div>
        
        <div class="row mt-30 pt-10 pb-20 pl-10 pr-10 bg-lighter">
          
          <div class="col-md-12">
            {% assign second = page.second_section %}
            <h1 class="heading-title text-uppercase line-bottom">{{ second.title }}</h1>
            {{ second.test_content}}
          </div>
        </div>
        
      </div>
    </div>
  </section>


	<!-- Section: -->
	<section>
        <div class="container">
	        <div class="row">
	          <div class="col-md-12"> 
	            <div class="heading-line-bottom">
            {% assign third = page.third_section %}
	              <h1 class="heading-title">{{ third.title }}</h1>
	            </div> 
	          </div>
            {% assign first_box = third.first_box %}
            <div class="col-md-6 p-xs-15">
	            <div class="card effect__hover">
	              <div class="card__front layer-overlay overlay-grey" data-bg-img="{{ first_box.image }}">
	                  <div class="card__text">
	                    <div class="display-table-parent">
	                      <div class="display-table">
	                        <div class="display-table-cell">
	                          <div class="icon-box mb-0">
	                            <a href="#" class="icon mb-0">
	                              <i class="text-white {{ first_box.icon_code }} font-72"></i>
	                            </a>
	                            <h1 class="icon-box-title text-white" style="font-weight: bolder;color: white;">{{ first_box.title }}</h1>
	                          </div>
	                        </div>
	                      </div>
	                    </div>
	                  </div>
	               </div>
	              <div class="card__back layer-overlay overlay-dark"  data-bg-img="{{ first_box.image }}" >
	                <div class="card__text">
	                  <div class="display-table-parent pl-20 pr-20 pt-10">
	                      <div class="display-table">
	                        <div class="display-table-cell">
	                          <h3 class="text-white line-bottom pull-left font-28">{{ first_box.title }}</h3>
	                          <p class="text-white pull-left" style="font-size: 16px; text-align: justify;" >{{ first_box.text_content }}</p>
	                        </div>
	                      </div>
	                  </div>
	                </div>
	              </div>
	            </div><!-- /flip-box -->
	          </div>


            {% assign second_box = third.second_box %}
            <div class="col-md-6 p-xs-15">
	            <div class="card effect__hover">
	              <div class="card__front layer-overlay overlay-grey"  data-bg-img="{{ second_box.image }}" >
	                  <div class="card__text">
	                    <div class="display-table-parent">
	                      <div class="display-table">
	                        <div class="display-table-cell">
	                          <div class="icon-box mb-0">
	                            <a href="#" class="icon mb-0">
	                              <i class="text-white {{ second_box.icon_code }} font-72"></i>
	                            </a>
	                            <h1 class="icon-box-title text-white" style="font-weight: bolder;color: white;">{{ second_box.title }}</h1>
	                          </div>
	                        </div>
	                      </div>
	                    </div>
	                  </div>
	               </div>
	              <div class="card__back layer-overlay overlay-dark"  data-bg-img="{{ second_box.image }}" >
	                <div class="card__text">
	                  <div class="display-table-parent p-30">
	                      <div class="display-table">
	                        <div class="display-table-cell">
	                            <h3 class="text-white line-bottom pull-left font-28">{{ second_box.title }}</h3>
	                            
	                            <p class="text-white pull-left" style="font-size: 16px; text-align: justify;" >{{ second_box.text_content }}</p>
	                        </div>
	                      </div>
	                  </div>
	                </div>
	              </div>
	            </div><!-- /flip-box -->
	          </div>

            {% assign third_box = third.third_box %}
	          <div class="col-md-12" style="margin-top: 30px;">
	            <div class="card effect__hover">
	              <div class="card__front layer-overlay overlay-grey"  data-bg-img="{{ third_box.image }}">
	                  <div class="card__text">
	                    <div class="display-table-parent">
	                      <div class="display-table">
	                        <div class="display-table-cell">
	                          <div class="icon-box mb-0">
	                            <a href="#" class="icon mb-0">
	                              <i class="{{ third_box.icon_code }} font-72" style="color: white;"></i>
	                            </a>
	                            <h1 class="icon-box-title text-white" style="font-weight: bolder;color: white;">{{ third_box.title }}</h1>
	                          </div>
	                        </div>
	                      </div>
	                    </div>
	                  </div>
	               </div>
	              <div class="card__back layer-overlay overlay-dark"  data-bg-img="{{ third_box.image }}" >
	                <div class="card__text">
	                  <div class="display-table-parent p-30">
	                      <div class="display-table">
	                        <div class="display-table-cell">
	                          <h3 class="text-white line-bottom pull-left font-28">{{ third_box.title }}</h3>
	                          <p class="text-white pull-left" style="font-size: 16px; text-align: justify;" >{{ third_box.text_content }}</p>
	                        </div>
	                      </div>
	                  </div>
	                </div>
	              </div>
	            </div><!-- /flip-box -->
	          </div>
	        </div>
        </div>
    </section>

	<!--<section class="divider parallax layer-overlay overlay-white-8"  data-parallax-ratio="0.2" data-bg-img="/assets/img/cashew_141.jpg">
	  <div class="container">
	    <div class="row text-justify">
	      <div class="col-md-6" style="padding-right: 27px;">
	        <h1>Who we are</h1>
	        <p style="font-weight: bolder;">LIFFT-Cashew is a project implemented by Shelter For Life International in the Senegal, the Gambia, and Guinea-Bissau cashew production zone (SeGaBi Zone), with funding from the United States Department of Agriculture. We are partnering with the Connexus Corporation to facilitate access to agricultural finance to cashew producers and processors, rapid flow of finance, and investment in the cashew value chain in the SeGaBi Zone.</p>
	      </div>
	      <div class="col-md-6">
	        <h1>What we do</h1>
	        <p style="font-weight: bolder;">The Linking Infrastructure, Finance, and Farms to Cashew (LIFFT-Cashew) is a sub-regional project designed to create a more integrated and durable regional network in the Senegal, The Gambia, and Guinea-Bissau cashew production zone (SeGaBi Zone). We want to enhance the cultivation of cashews and the processing, and selling of cashew products in the local and international markets</p>
	      </div>
	    </div>
	  </div>
	</section>-->
	

	

     <!-- Divider: Funfact -->
  

   <section class="bg-light">
      <div class="container pb-30 pb-sm-30">
        <div class="section-title text-center">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h2 class="mt-0 line-height-1 text-center text-uppercase font-28">Meet our <span class="text-theme-colored">Team</span></h2>
            </div>
            
          </div>
        </div>
        <div class="section-content">
          <div class="row mtli-row-clearfix">
            <div class="col-md-12">
              <div class="owl-carousel-3col" data-nav="true">
                {% for team in site.teams %}
                <div class="item overle overlay-dark">
                  <div class="team-block">
                    <div class="team-thumb"><img class="img-fullwidth" src="{{ team.image }}" alt="{{ team.title }}">
                      <!--<div class="team-overlay">
                        <ul class="list-inline text-white font-12 mb-10">
                          <li><i aria-hidden="true" class="fa fa-phone text-theme-color-2 mr-10"></i>Mob: {{ team.phone }}</li>
                          <li><i aria-hidden="true" class="fa fa-envelope-o text-theme-color-2 mr-10"></i>Email: {{ team.mail }}</li>
                        </ul>
                        <ul class="styled-icons icon-theme-colored icon-circled icon-dark icon-sm mt-15 mb-0">
                          <li><a href="{{ team.facebook }}"><i class="fa fa-facebook"></i></a></li>
                          <li><a href="{{ team.google_plus }}"><i class="fa fa-google-plus"></i></a></li>
                          <li><a href="{{ team.linked_in }}"><i class="fa fa-linkedin"></i></a></li>
                          
                        </ul>
                        
                      </div>-->
                    </div>
                    <div class="info">
                      <h2 style="font-weight: 700;" class="text-theme-colored">{{ team.title }}</h2>
                      <p style="font-weight: 300;">{{ team.position }}</p>
                      <!--<a href="#" class="btn btn-default btn-theme-colored btn-flat pull-left">Read More</a>-->
                    </div>
                  </div>
                </div>
                {% endfor %} 
              </div>
            </div>         
          </div>
        </div>
      </div>
    </section>
   <!--<section id="home" class="divider">
      <div class="container p-0">
        <div class="row">
          <div class="col-md-12">
            <div class="owl-carousel-3col">
              {% for team in site.teams %}
              <div class="item">
                <div class="featured-blog">
                  <img src="{{ team.image }}" alt="{{ team.title }}">
                  <div class="featured-blog-details" style="height: 100%; margin-top: 0px; padding-bottom: 40px; background-color: rgba(0,0,0,0.5);">
                    <h2 class="text-white" style="font-weight: 700;">{{ team.title }}</h2>
                    <p class="text-white">{{ team.position }}</p>
                  </div>
                </div>
              </div>
              {% endfor %} 
            </div>
          </div>
        </div>
      </div>
    </section>
    Divider: STATISTICS --
    <section class="divider parallax layer-overlay overlay-dark-6" data-bg-img="/assets/img/cashew_141.jpg" data-parallax-ratio="0.2">
      <div class="container pt-90 pb-90">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50 wow fadeInLeft " data-wow-duration="1s" data-wow-delay="0.3s">
            <div class="funfact xs-pull-center">
              <i class="pe-7s-smile text-white-f1 mt-20 font-48 pull-left flip"></i>
              <div class="ml-60">
                <h2 class="animate-number text-white-f1 mt-0 font-48 line-bottom" data-value="22435" data-animation-duration="2000">0</h2>
                <div class="clearfix"></div>
                <h4 class="font-14 text-white-f1">FAMILIES HELPED</h4>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.4s">
            <div class="funfact xs-pull-center">
              <i class="pe-7s-rocket text-white-f1 mt-20 font-48 pull-left flip"></i>
              <div class="ml-60">
                <h2 class="animate-number text-white-f1 mt-0 font-48 line-bottom" data-value="66" data-animation-duration="2500">0</h2>
                <div class="clearfix"></div>
                <h4 class="font-14 text-white-f1">KM OF ROADS BUILT</h4>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
            <div class="funfact xs-pull-center">
              <i class="pe-7s-add-user text-white-f1 mt-20 font-48 pull-left flip"></i>
              <div class="ml-60">
                <h2 class="animate-number text-white-f1 mt-0 font-48 line-bottom" data-value="2100" data-animation-duration="3000">0</h2>
                <div class="clearfix"></div>
                <h4 class="font-14 text-white-f1">PEOPLES TRAINED</h4>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.6s">
            <div class="funfact xs-pull-center">
              <i class="pe-7s-global text-white-f1 mt-20 font-48 pull-left flip"></i>
              <div class="ml-60">
                <h2 class="animate-number text-white-f1 mt-0 font-48 line-bottom" data-value="10000" data-animation-duration="3500">K</h2>
                <div class="clearfix"></div>
                <h4 class="font-14 text-white-f1">TONS OF CASHEW</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--<section>
      <div class="container pb-40 pb-sm-60">
        <div class="section-content">
          <div class="row">
            <div class="col-md-6 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
              <h3 class="mt-0 line-bottom"><span class="font-weight-300">Upcoming </span> Events</h3>
              {% for event in site.events %}
              <div class="event media mb-20 no-bg no-border">
                <div class="event-date media-left text-center flip bg-theme-colored p-20">
                  <ul>
                    <li class="font-30 text-white font-weight-600 border-bottom pb-10">{{ event.start_date | date: "%d" }}</li>
                    <li class="font-22 text-white text-uppercase">{{ event.start_date | date: "%b" }}</li>
                  </ul>
                </div>
                <div class="media-body pl-20">
                  <div class="event-content pull-left flip">
                    <h2 class="event-title media-heading font-raleway font-weight-550"><a href="{{ event.title }}">{{ event.title }}</a></h2>
                    <span class="mb-10 text-gray-darkgray mr-10" style="font-size: 14px;"><i class="fa fa-clock-o mr-5 text-theme-colored"></i> at 5.00 pm - 7.30 pm</span>
                    <span class="text-gray-darkgray" style="font-size: 14px;"><i class="fa fa-map-marker mr-5"></i> {{ event.location_address }}, {{ event.location_town }}, {{ event.location_region }}, {{ event.location_country }}</span>
                    <p class="mt-5" style="font-size: 14px; text-align: justify;" >{{ event.content | slice: 0, 80 }}...</p>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
            <div class="col-md-6 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
              <div class="owl-carousel-1col owl-dots-bottom-right  bg-lighter" data-nav="true" data-dots="false">
                {% for story in site.stories %}
                <div class="item">
                  <div class="row-fluid">
                    <div class="col-md-12" style="padding-right: 0px; padding-left: 0px;">
                      <img src="{{ story.image }}" alt="{{ story.title }}" style="width: 555px; height: 290px; margin-bottom: 15px;" >
                    </div>
                    <div class="col-md-12 pb-30">
                      <h2 class="line-bottom mt-0">Featured Stories: {{ story.title }}</h2>
                      <p class="text-justify" >
                      ...</p>
                      <div class="mt-10 mb-20">
                        <ul class="list-inline clearfix">
                          <li class="pull-left flip pr-0">Date: <span class="font-weight-700 font-">{{story.date | date: "%b %d, %y"}} </span></li>
                          <li class="text-theme-colored pull-right flip pr-0">Location: <span class="font-weight-700">{{ story.location }}</span></li>
                        </ul>
                      </div>
                      <a class="btn btn-theme-colored btn-sm text-uppercase" href="{{ story.url }}">Read {{ story.first_name }} {{ story.last_name }} story</a>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>-->
</div>
<!-- end main-content -->