---
layout: default
---
<!-- Start main-content -->
<div class="main-content">

    <!-- Section: inner-header -->
    {% include page_title.html %}

    <section>
      <div class="container">
        <div class="section-content">
          <div class="row">
            <div class="col-md-6 text-justify" style="font-size: 15px;">
              {{ page.content }}
              <a href="/contact.html" class="btn btn-default btn-theme-colored btn-flat btn-md mt-20">Contact Us For More Information</a> 
            </div>
            <div class="col-md-6">
              <div class="owl-carousel-1col" data-nav="true">
                {% for slider in page.sliders %}
                <div class="item">
                  <img src="{{ slider.image }}" alt="">
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="divider parallax layer-overlay overlay-dark-7" data-bg-img="{{ page.parallax_image }}" data-parallax-ratio="0.7">
      <div class="container pt-90 pb-90">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center">
            <h1 class="text-white">{{ page.progress_title }}</h1>
              <p class="lead text-white">{{ page.progress_subtitle }}</p>
            <div class="progress-item mt-0">
              <div class="progress mb-0">
                <div class="progress-bar" data-percent="{{ page.percentage }}"></div>
              </div>
            </div>
            <div class="row mt-20">
              <div class="col-xs-6 col-md-6 text-left text-white">
                Achieved: {{ page.indicator }} {{ page.indicator_unit }}
              </div>
              <div class="col-xs-6 col-md-6 text-right text-white">
                Goal: {{ page.goal }} {{ page.indicator_unit }}
              </div>
            </div>
           
          </div>
        </div>
      </div>
    </section>

    
</div>
<!-- end main-content -->