---
layout: default
---
<!-- Start main-content -->
<div class="main-content">

    <!-- Section: inner-header -->
    {% include page_title.html %}

    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-12"> 
            <div class="heading-line-bottom">
              <h4 class="heading-title">CONTACT INFO</h4>
            </div> 
          </div>
          <div class="col-md-4">
            <div class="card effect__hover">
              <div class="card__front layer-overlay overlay-custom-1 " style="background-image: url('/assets/img/senegal_flag.jpg'); background-position: center; /* Center the image */ background-repeat: no-repeat; /* Do not repeat the image */ background-size: cover; /* Resize the background image to cover the entire container */">
                  <div class="card__text">
                    <div class="display-table-parent">
                      <div class="display-table">
                        <div class="display-table-cell">
                          <div class="icon-box mb-0">
                            
                            <h1 class="icon-box-title text-white" style="letter-spacing: 7px; font-size: 60px; font-weight: 700;">SENEGAL</h1>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
               </div>
              <div class="card__back" data-bg-color="#e0e0e0">
                <div class="card__text">
                  <div class="display-table-parent p-30">
                      <div class="display-table">
                        <div class="display-table-cell">
                          <h2 class="mb-20">Ziguinchor Office</h2>
                          <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                              <div class="icon-box left media bg-deep p-10 mb-10"> <a class="media-left pull-left" href="#"> <i class="pe-7s-map-2 text-theme-colored font-25"></i></a>
                                <div class="media-body">
                                  <p style="font-size: 14px;">{{ site.sn_address }}</p>
                                </div>
                              </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-12">
                              <div class="icon-box left media bg-deep p-10 mb-10"> <a class="media-left pull-left" href="#"> <i class="pe-7s-call text-theme-colored font-25"></i></a>
                                <div class="">
                                  
                                  <p style="font-size: 14px; margin-bottom: 0px;">{{ site.tel1 }}</p>
                                </div>
                              </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-12">
                              <div class="icon-box left media bg-deep p-10 mb-20"> <a class="media-left pull-left" href="#"> <i class="pe-7s-mail text-theme-colored font-25"></i></a>
                                <div class="media-body">
                                  
                                  <p style="font-size: 14px; margin-bottom: 0px;"><a href = "mailto: {{ site.email }}">{{ site.email }}</a></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div><!-- /flip-box -->
          </div>
          <div class="col-md-4">
            <div class="card effect__hover">
              <div class="card__front layer-overlay overlay-custom-1 " style="background-image: url('/assets/img/bissau_flag.jpg'); background-position: center; /* Center the image */ background-repeat: no-repeat; /* Do not repeat the image */ background-size: cover; /* Resize the background image to cover the entire container */" >
                  <div class="card__text">
                    <div class="display-table-parent">
                      <div class="display-table">
                        <div class="display-table-cell">
                          <div class="icon-box mb-0">
                            
                            <h1 class="icon-box-title text-white" style="letter-spacing: 7px; font-size: 60px; font-weight: 700;">BISSAU</h1>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
               </div>
              <div class="card__back" data-bg-color="#e0e0e0">
                <div class="card__text">
                  <div class="display-table-parent p-30">
                      <div class="display-table">
                        <div class="display-table-cell">
                          <h2 class="mb-20">Bissau Office</h2>
                          <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                              <div class="icon-box left media bg-deep p-10 mb-10"> <a class="media-left pull-left" href="#"> <i class="pe-7s-map-2 text-theme-colored font-25"></i></a>
                                <div class="media-body">
                                  <p style="font-size: 14px; margin-bottom: 0px;">{{ site.gb_address }}</p>
                                </div>
                              </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-12">
                              <div class="icon-box left media bg-deep p-10 mb-10"> <a class="media-left pull-left" href="#"> <i class="pe-7s-call text-theme-colored font-25" ></i></a>
                                <div class="media-body">
                                  
                                  <p style="font-size: 14px; margin-bottom: 0px;">{{ site.telgb }}</p>
                                </div>
                              </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-12">
                              <div class="icon-box left media bg-deep p-10 mb-20"> <a class="media-left pull-left" href="#"> <i class="pe-7s-mail text-theme-colored font-25"></i></a>
                                <div class="media-body">
                                  
                                  <p style="font-size: 14px; margin-bottom: 0px;"><a href = "mailto: {{ site.email }}">{{ site.email }}</a></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div><!-- /flip-box -->
          </div>
          <div class="col-md-4">
            <div class="card effect__hover">
              <div class="card__front layer-overlay overlay-custom-1 " style="background-image: url('/assets/img/gambia_flag.jpg'); background-position: center; /* Center the image */ background-repeat: no-repeat; /* Do not repeat the image */ background-size: cover; /* Resize the background image to cover the entire container */">
                  <div class="card__text">
                    <div class="display-table-parent">
                      <div class="display-table">
                        <div class="display-table-cell">
                          <div class="icon-box mb-0">
                            <!--<a href="#" class="icon mb-0">
                              <i class="text-white pe-7s-map-marker font-72"></i>
                            </a>-->
                            <h1 class="icon-box-title text-white" style="letter-spacing: 7px; font-size: 60px; font-weight: 700;">GAMBIA</h1>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
               </div>
              <div class="card__back" data-bg-color="#e0e0e0">
                <div class="card__text">
                  <div class="display-table-parent p-30">
                      <div class="display-table">
                        <div class="display-table-cell">
                          <h2 class="mb-20">Gambia Office</h2>
                          <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                              <div class="icon-box left media bg-deep p-10 mb-10"> <a class="media-left pull-left" href="#"> <i class="pe-7s-map-2 text-theme-colored font-25"></i></a>
                                <div class="media-body">
                                  <p style="font-size: 14px; margin-bottom: 0px;">{{ site.gm_address }}</p>
                                </div>
                              </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-12">
                              <div class="icon-box left media bg-deep p-10 mb-10"> <a class="media-left pull-left" href="#"> <i class="pe-7s-call text-theme-colored font-25"></i></a>
                                <div class="media-body">
                                  
                                  <p style="font-size: 14px; margin-bottom: 0px;">{{ site.telgm }}</p>
                                </div>
                              </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-12">
                              <div class="icon-box left media bg-deep p-10 mb-20"> <a class="media-left pull-left" href="#"> <i class="pe-7s-mail text-theme-colored font-25"></i></a>
                                <div class="media-body">
                                  
                                  <p style="font-size: 14px; margin-bottom: 0px;"><a href = "mailto: {{ site.email }}">{{ site.email }}</a></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div><!-- /flip-box -->
          </div>
        </div>
      </div>
    </section>

    <!-- Section: Contact -->
    <section class="divider"> 
      <div class="container">
        <div class="section-title text-center">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h2 class="text-uppercase font-28 mt-0"><span class="text-theme-colored">Contact</span> Us</h2>
            </div>
          </div>
        </div>
        <div class="section-content">          
          <div class="row">
            <div class="col-md-12">
   
              <!-- Contact Form -->
              <form class="contact-form-transparent" action="https://formspree.io/f/mwkwqjkj" method="POST" id="my-form" target="_blank">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input type="text" placeholder="Enter First Name"  name="first_name" required="" class="form-control">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input type="text" placeholder="Enter Last Name"  name="last_name" class="form-control">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input type="text" placeholder="Enter Your Company Name"  name="company_name" class="form-control">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input type="email" placeholder="Enter Email"  name="email" class="form-control required email">
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group">
                      <input type="text" placeholder="Enter Subject"  name="subject" class="form-control required">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <textarea rows="5" placeholder="Enter Message"  name="message" class="form-control required"></textarea>
                </div>
                <div class="g-recaptcha" data-sitekey="6LcZz-8ZAAAAAC1sGgo2nGBBllScwtlIbu61VsUN"></div>
                <div class="form-group text-center mb-0">
                  <button id="my-form-button" class="btn btn-colored btn-flat bt-lg btn-theme-colored pl-30 pr-30" type="submit">Send your message</button>
                </div>
                 <p id="my-form-status"></p>
              </form>
              <!-- Contact Form Validation-->
              <script>
                window.addEventListener("DOMContentLoaded", function() {

                  // get the form elements defined in your form HTML above
                  
                  var form = document.getElementById("my-form");
                  var button = document.getElementById("my-form-button");
                  var status = document.getElementById("my-form-status");

                  // Success and Error functions for after the form is submitted
                  
                  function success() {
                    form.reset();
                    button.style = "display: none ";
                    status.innerHTML = '<div class="alert alert-success"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' + 'Thank you for contacting us' + '</div>';
                  }

                  function error() {
                    status.innerHTML = '<div class="alert alert-danger"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' + 'Sorry. There was an issue. Please try again' + '</div>';
                  }

                  // handle the form submission event

                  form.addEventListener("submit", function(ev) {
                    ev.preventDefault();
                    var data = new FormData(form);
                    ajax(form.method, form.action, data, success, error);
                  });
                });
                
                // helper function for sending an AJAX request

                function ajax(method, url, data, success, error) {
                  var xhr = new XMLHttpRequest();
                  xhr.open(method, url);
                  xhr.setRequestHeader("Accept", "application/json");
                  xhr.onreadystatechange = function() {
                    if (xhr.readyState !== XMLHttpRequest.DONE) return;
                    if (xhr.status === 200) {
                      success(xhr.response, xhr.responseType);
                    } else {
                      error(xhr.status, xhr.response, xhr.responseType);
                    }
                  };
                  xhr.send(data);
                }
              </script>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    
  </div>
  <!-- end main-content -->
