---
layout: default
---
<!-- Start main-content -->
  <div class="main-content">
    <!-- Section: inner-header -->
    {% include page_title.html %}

    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div id="accordion1" class="panel-group accordion">
              {% assign faqs = site.faqs | sort: "number" %}
              {% for faq in faqs %}
              {% if faq.number == 1 %}

	            <div class="panel">
	                <div class="panel-title"> <a data-parent="#accordion1" data-toggle="collapse" href="#accordion1{{ faq.number }}" class="{{ faq.class }}" aria-expanded="{{ faq.expanded }}"> <span class="open-sub"></span> <strong style="font-size: 16px;">Q. {{ faq.title }}</strong></a> </div>
	                <div id="accordion1{{ faq.number }}" class="panel-collapse collapse in" role="tablist" aria-expanded="{{ faq.expanded }}">
	                  <div class="panel-content">
	                    <p style="font-size: 16px;">{{ faq.answer }}</p>
	                  </div>
	                </div>
	            </div>
              {% else %}
              <div class="panel">
                  <div class="panel-title"> <a data-parent="#accordion1" data-toggle="collapse" href="#accordion1{{ faq.number }}" class="{{ faq.class }}" aria-expanded="{{ faq.expanded }}"> <span class="open-sub"></span> <strong style="font-size: 16px;">Q. {{ faq.title }}</strong></a> </div>
                  <div id="accordion1{{ faq.number }}" class="panel-collapse collapse" role="tablist" aria-expanded="{{ faq.expanded }}">
                    <div class="panel-content">
                      <p style="font-size: 16px;">{{ faq.answer }}</p>
                    </div>
                  </div>
              </div>
              {% endif %}
              {% endfor %}
            </div>
          </div>
          <div class="col-md-4">
            <div class="widget border-1px p-30">
              <h2 class="widget-title line-bottom">{{ page.faq_form_title }} </h2>
              <form class="quick-contact-form" action="{{ page.form_link }}" method="POST" id="my-form" target="_blank">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input name="first_name" class="form-control" type="text" required="" placeholder="{{ page.first_name }}">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input name="last_name" class="form-control" type="text" required="" placeholder="{{ page.last_name }}">
                    </div>
                  </div>
                </div>
               
                
                <div class="form-group">
                  <input name="company" class="form-control" type="text" required="" placeholder="{{ page.company }}">
                </div>
                <div class="form-group">
                  <input name="subject" class="form-control" type="text" required="" placeholder="{{ page.subject }}">
                </div>
                <div class="form-group">
                  <input name="email" class="form-control" type="email" required="" placeholder="{{ page.email }}">
                </div>
                <div class="form-group">
                  <textarea name="message" class="form-control" required="" placeholder="{{ page.message }}" rows="3"></textarea>
                </div>
                <div class="form-group">
                  <div class="g-recaptcha" data-sitekey="{{ page.recaptcha_key }}" data-callback="recaptchaCallback"></div>
                </div>
                <div class="form-group">
                  <input name="form_botcheck" class="form-control" type="hidden" value="" />
                  <button id="my-form-button" type="submit" class="btn btn-dark btn-theme-colored btn-lg mt-0" disabled="true">{{ page.submit_button }}</button>
                </div>
                <p id="my-form-status"></p>
              </form>

              <script>
                 /* function recaptchaCallback() {
                      var btnSubmit = document.getElementById("my-form-button");
                      if ( btnSubmit.classList.contains("hidden") ) {
                          btnSubmit.classList.remove("hidden");
                          btnSubmitclassList.add("show");
                      }
                  }*/

                   function recaptchaCallback(){
                       document.getElementById("my-form-button").disabled = false;
                     }
              </script>
              

              <script>
                window.addEventListener("DOMContentLoaded", function() {

                  // get the form elements defined in your form HTML above
                  
                  var form = document.getElementById("my-form");
                  var button = document.getElementById("my-form-button");
                  var status = document.getElementById("my-form-status");

                  // Success and Error functions for after the form is submitted
                  
                  function success() {
                    form.reset();
                    button.style = "display: none ";
                    status.innerHTML = '<div class="alert alert-success"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' + 'Thank you for contacting us' + '</div>';
                  }

                  function error() {
                    status.innerHTML = '<div class="alert alert-danger"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' + 'Sorry. There was an issue. Please try again' + '</div>';
                  }

                  // handle the form submission event

                  form.addEventListener("submit", function(ev) {
                    ev.preventDefault();
                    var data = new FormData(form);
                    ajax(form.method, form.action, data, success, error);
                  });
                });
                
                // helper function for sending an AJAX request

                function ajax(method, url, data, success, error) {
                  var xhr = new XMLHttpRequest();
                  xhr.open(method, url);
                  xhr.setRequestHeader("Accept", "application/json");
                  xhr.onreadystatechange = function() {
                    if (xhr.readyState !== XMLHttpRequest.DONE) return;
                    if (xhr.status === 200) {
                      success(xhr.response, xhr.responseType);
                    } else {
                      error(xhr.status, xhr.response, xhr.responseType);
                    }
                  };
                  xhr.send(data);
                }
              </script>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- end main-content -->