---
layout: default
---
<!-- Start main-content -->
  <div class="main-content">
    <!-- Section: inner-header -->
    {% include page_title.html %}

    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div id="accordion1" class="panel-group accordion">
              {% assign faqs = site.faqs | sort: "number" %}
              {% for faq in faqs %}
              {% if faq.number == 1 %}

	            <div class="panel">
	                <div class="panel-title"> <a data-parent="#accordion1" data-toggle="collapse" href="#accordion1{{ faq.number }}" class="{{ faq.class }}" aria-expanded="{{ faq.expanded }}"> <span class="open-sub"></span> <strong style="font-size: 16px;">Q. {{ faq.title }}</strong></a> </div>
	                <div id="accordion1{{ faq.number }}" class="panel-collapse collapse in" role="tablist" aria-expanded="{{ faq.expanded }}">
	                  <div class="panel-content">
	                    <p style="font-size: 16px;">{{ faq.answer }}</p>
	                  </div>
	                </div>
	            </div>
              {% else %}
              <div class="panel">
                  <div class="panel-title"> <a data-parent="#accordion1" data-toggle="collapse" href="#accordion1{{ faq.number }}" class="{{ faq.class }}" aria-expanded="{{ faq.expanded }}"> <span class="open-sub"></span> <strong style="font-size: 16px;">Q. {{ faq.title }}</strong></a> </div>
                  <div id="accordion1{{ faq.number }}" class="panel-collapse collapse" role="tablist" aria-expanded="{{ faq.expanded }}">
                    <div class="panel-content">
                      <p style="font-size: 16px;">{{ faq.answer }}</p>
                    </div>
                  </div>
              </div>
              {% endif %}
              {% endfor %}
            </div>
          </div>
          <div class="col-md-4">
            <div class="widget border-1px p-30">
              <h5 class="widget-title line-bottom">ASK A QUESTION </h5>
              <form class="quick-contact-form" action="https://formspree.io/f/mdopdvkk" method="POST" target="_blank">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input name="first_name" class="form-control" type="text" required="" placeholder="First name">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input name="last_name" class="form-control" type="text" required="" placeholder="Last name">
                    </div>
                  </div>
                </div>
               
                
                <div class="form-group">
                  <input name="company" class="form-control" type="text" required="" placeholder="Company">
                </div>
                <div class="form-group">
                  <input name="subject" class="form-control" type="text" required="" placeholder="Subject">
                </div>
                <div class="form-group">
                  <input name="email" class="form-control" type="email" required="" placeholder="Email">
                </div>
                <div class="form-group">
                  <textarea name="message" class="form-control" required="" placeholder="Enter Question" rows="3"></textarea>
                </div>
                <div class="form-group">
                  <input name="form_botcheck" class="form-control" type="hidden" value="" />
                  <button type="submit" class="btn btn-dark btn-theme-colored btn-lg mt-0">Send Message</button>
                </div>
              </form>

              <!-- Quick Contact Form Validation-->
              <script type="text/javascript">
                $("#quick_contact_form").validate({
                  submitHandler: function(form) {
                    var form_btn = $(form).find('button[type="submit"]');
                    var form_result_div = '#form-result';
                    $(form_result_div).remove();
                    form_btn.before('<div id="form-result" class="alert alert-success" role="alert" style="display: none;"></div>');
                    var form_btn_old_msg = form_btn.html();
                    form_btn.html(form_btn.prop('disabled', true).data("loading-text"));
                    $(form).ajaxSubmit({
                      dataType:  'json',
                      success: function(data) {
                        if( data.status == 'true' ) {
                          $(form).find('.form-control').val('');
                        }
                        form_btn.prop('disabled', false).html(form_btn_old_msg);
                        $(form_result_div).html(data.message).fadeIn('slow');
                        setTimeout(function(){ $(form_result_div).fadeOut('slow') }, 6000);
                      }
                    });
                  }
                });
              </script>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- end main-content -->