---
layout: default_1
---
  <!-- Header -->
  {% include header_2.html %}
<div class="main-content">
    <!-- Section: home -->
    <section id="home"  class=" layer-overlay overlay-dark-6">
      <div class="container-fluid p-0">
        
        <!-- Slider Revolution Start -->
        <div class="rev_slider_wrapper">
          <div class="rev_slider" data-version="5.0">
            <ul>
              <!-- SLIDE 1 -->
              <li data-index="rs-1" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="/assets/img/cashew_5.png" data-rotate="0" data-saveperformance="off" data-title="Wow Factor" data-description="">
                <!-- MAIN IMAGE -->
                <img src="/assets/img/cashew_5.png"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="10" data-no-retina>
                <!-- LAYERS -->

                <!-- LAYER NR. 1 -->
                <div class="tp-caption NotGeneric-Title tp-resizeme text-uppercase"
                  id="rs-1-layer-1"
                  data-x="['center','center','center','center']" 
                  data-hoffset="['0']"
                  data-y="['top','top','top','top']" 
                  data-voffset="['150','150','170','168']" 
                  data-fontsize="['72','72','64','48']"
                  data-lineheight="['100','90','60','60']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
                  data-transform_in="x:-50px;opacity:0;s:500;e:Power1.easeInOut;" 
                  data-transform_out="x:50px;opacity:0;s:500;e:Power1.easeInOut;" 
                  data-start="500"
                  data-splitin="chars"
                  data-splitout="none"
                  data-basealign="slide"
                  data-responsive_offset="on"
                  data-elementdelay="0.03"                  
                  style="z-index: 5; white-space: nowrap; font-size: 50px; line-height: 40px;">LIFFT CASHEW PROJECT
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption NotGeneric-SubTitle tp-resizeme text-uppercase"
                  id="rs-1-layer-2"
                  data-x="['center','center','center','center']" 
                  data-hoffset="['0']"
                  data-y="['top','top','top','top']" 
                  data-voffset="['160','160','160','160']"
                  data-fontsize="['14','16',20']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
                  data-transform_in="x:-50px;opacity:0;s:500;e:Power1.easeInOut;" 
                  data-transform_out="x:50px;opacity:0;s:500;e:Power1.easeInOut;" 
                  data-start="500"
                  data-splitin="chars"
                  data-splitout="none"
                  data-basealign="slide"
                  data-responsive_offset="on"
                  data-elementdelay="0.03"                  
                  style="z-index: 6; white-space: nowrap; color: rgba(255, 255, 255, 0.90);">Linking Infrastructures and Farmers to Cashew
                </div>

                <!-- LAYER NR. 3 
                <div class="tp-caption Photography-Textblock tp-resizeme"
                  id="rs-1-layer-3"
                  data-x="['center','center','center','center']" 
                  data-hoffset="['0']"
                  data-y="['top','top','top','top']"
                  data-voffset="['250','250','250','250']"
                  data-fontsize="['15','16',20']"
                  data-width="380"
                  data-height="150"
                  data-whitespace="normal"
                  data-transform_idle="o:1;"
                  data-transform_in="x:-50px;opacity:0;s:500;e:Power1.easeInOut;" 
                  data-transform_out="x:50px;opacity:0;s:500;e:Power1.easeInOut;" 
                  data-start="500"
                  data-splitin="chars"
                  data-splitout="none" 
                  data-basealign="slide"
                  data-responsive_offset="on"
                  data-elementdelay="0.01"                  
                  style="z-index: 7; min-width: 380px; max-width: 380px; max-width: 180px; max-width: 180px; white-space: normal; line-height: 25px; color: rgba(255, 255, 255, 0.90);">Designed to create a more integrated and durable regional network in Senegal, Gambia, and Guinea-Bissau</div>-->

                <!-- LAYER NR. 4 -->
                <div class="tp-caption BigBold-Button rev-btn text-uppercase" 
                  id="rs-1-layer-4"
                  data-x="['center']" 
                  data-hoffset="['0']" 
                  data-y="['top']" 
                  data-voffset="['250','250','250','250']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
                  data-transform_in="x:-50px;opacity:0;s:500;e:Power1.easeInOut;" 
                  data-transform_out="x:50px;opacity:0;s:500;e:Power1.easeInOut;" 
                  data-start="1000"
                  data-splitin="none" 
                  data-splitout="none"
                  data-basealign="slide" 
                  data-responsive_offset="on" 
                  data-responsive="on"
                  style="z-index: 8; white-space: nowrap;text-transform:center;border-color:rgba(255, 255, 255, 0.25);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;"><a href="/about.html" class="text-white">Discover <i style="font-size: .8rem; vertical-align: middle;" class="fa fa-arrow-circle-right text-white ml-5"></i></a>
               </div>
              </li>

              <!-- SLIDE 2 -->
              <li data-index="rs-2" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="/assets/img/cashew_261.jpg" data-rotate="0" data-saveperformance="off" data-title="Wow Factor" data-description="">
                <!-- MAIN IMAGE -->
                <img src="/assets/img/cashew_261.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="10" data-no-retina>
                <!-- LAYERS -->

                <!-- LAYER NR. 2 -->
                <div class="tp-caption NotGeneric-Title tp-resizeme text-uppercase"
                  id="rs-2-layer-1"
                  data-x="['center','center','center','center']" 
                  data-hoffset="['0']"
                  data-y="['top','top','top','top']" 
                  data-voffset="['150','150','170','168']" 
                  data-fontsize="['72','72','64','48']"
                  data-lineheight="['100','90','60','60']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
                  data-transform_in="x:-50px;opacity:0;s:500;e:Power1.easeInOut;" 
                  data-transform_out="x:50px;opacity:0;s:500;e:Power1.easeInOut;" 
                  data-start="500"
                  data-splitin="chars"
                  data-splitout="none"
                  data-basealign="slide"
                  data-responsive_offset="on"
                  data-elementdelay="0.03"                  
                  style="z-index: 5; white-space: nowrap; font-size: 40px; line-height: 40px;">Helping Communities
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption NotGeneric-SubTitle tp-resizeme text-uppercase"
                  id="rs-2-layer-2"
                  data-x="['center','center','center','center']" 
                  data-hoffset="['0']"
                  data-y="['top','top','top','top']" 
                  data-voffset="['160','160','160','160']"
                  data-fontsize="['14','16',20']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
                  data-transform_in="x:-50px;opacity:0;s:500;e:Power1.easeInOut;" 
                  data-transform_out="opacity:0;s:1000;e:Power2.easeIn;s:1000;e:Power2.easeIn;"
                  data-start="500"
                  data-splitin="chars"
                  data-splitout="none"
                  data-basealign="slide"
                  data-responsive_offset="on"
                  data-elementdelay="0.03"                  
                  style="z-index: 6; white-space: nowrap; color: rgba(255, 255, 255, 0.90);">One Cashew at a time 
                </div>

                <!-- LAYER NR. 3 
                <div class="tp-caption Photography-Textblock tp-resizeme"
                  id="rs-2-layer-3"
                  data-x="['center','center','center','center']" 
                  data-hoffset="['0']"
                  data-y="['top','top','top','top']"
                  data-voffset="['250','250','250','250']"
                  data-fontsize="['15','16',20']"
                  data-width="380"
                  data-height="150"
                  data-whitespace="normal"
                  data-transform_idle="o:1;"
                  data-transform_in="x:-50px;opacity:0;s:500;e:Power1.easeInOut;" 
                  data-transform_out="x:50px;opacity:0;s:500;e:Power1.easeInOut;" 
                  data-start="500"
                  data-splitin="chars"
                  data-splitout="none" 
                  data-basealign="slide"
                  data-responsive_offset="on"
                  data-elementdelay="0.01"                  
                  style="z-index: 7; min-width: 380px; max-width: 380px; max-width: 180px; max-width: 180px; white-space: normal; line-height: 25px;">Enhance the cultivation of cashews and the processing, and selling of cashew products in the local and international markets
                </div>-->

                <!-- LAYER NR. 4 -->
                <div class="tp-caption BigBold-Button rev-btn text-uppercase" 
                  id="rs-2-layer-4"
                  data-x="['center']" 
                  data-hoffset="['0']" 
                  data-y="['top']" 
                  data-voffset="['250','250','250','250']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
                  data-transform_in="x:-50px;opacity:0;s:500;e:Power1.easeInOut;" 
                  data-transform_out="x:50px;opacity:0;s:500;e:Power1.easeInOut;" 
                  data-start="500"
                  data-splitin="none" 
                  data-splitout="none"
                  data-basealign="slide" 
                  data-responsive_offset="on" 
                  data-responsive="on"
                  style="z-index: 8; white-space: nowrap;text-transform:center;border-color:rgba(255, 255, 255, 0.25);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;"><a href="/about.html" class="text-white">Learn more <i style="font-size: .8rem; vertical-align: middle;" class="fa fa-arrow-circle-right text-white ml-5"></a></i>
               </div>
              </li>

              <!-- SLIDE 3 -->
              <li data-index="rs-3" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="/assets/img/cashew_14111.jpg" data-rotate="0" data-saveperformance="off" data-title="Wow Factor" data-description="">
                <!-- MAIN IMAGE -->
                <img src="/assets/img/cashew_14111.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="10" data-no-retina>
                <!-- LAYERS -->

                <!-- LAYER NR. 1 -->
                <div class="tp-caption NotGeneric-Title tp-resizeme text-uppercase"
                  id="rs-3-layer-1"
                  data-x="['center','center','center','center']" 
                  data-hoffset="['0']"
                  data-y="['top','top','top','top']" 
                  data-voffset="['150','150','170','168']" 
                  data-fontsize="['72','72','64','48']"
                  data-lineheight="['100','90','60','60']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
                  data-transform_in="x:-50px;opacity:0;s:500;e:Power1.easeInOut;" 
                  data-transform_out="x:50px;opacity:0;s:500;e:Power1.easeInOut;" 
                  data-start="500"
                  data-splitin="chars"
                  data-splitout="none"
                  data-basealign="slide"
                  data-responsive_offset="on"
                  data-elementdelay="0.03"                  
                  style="z-index: 5; white-space: nowrap; font-size: 40px; line-height: 40px;">Volunteer
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption NotGeneric-SubTitle tp-resizeme text-uppercase"
                  id="rs-3-layer-2"
                  data-x="['center','center','center','center']" 
                  data-hoffset="['0']"
                  data-y="['top','top','top','top']" 
                  data-voffset="['160','160','160','160']"
                  data-fontsize="['14','16',20']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
                  data-transform_in="x:-50px;opacity:0;s:500;e:Power1.easeInOut;" 
                  data-transform_out="x:50px;opacity:0;s:500;e:Power1.easeInOut;" 
                  data-start="500"
                  data-splitin="chars"
                  data-splitout="none"
                  data-basealign="slide"
                  data-responsive_offset="on"
                  data-elementdelay="0.03"                  
                  style="z-index: 6; white-space: nowrap; color: rgba(255, 255, 255, 0.90);">Become a
                </div>

                <!-- LAYER NR. 3 
                <div class="tp-caption Photography-Textblock tp-resizeme"
                  id="rs-3-layer-3"
                  data-x="['center','center','center','center']" 
                  data-hoffset="['0']"
                  data-y="['top','top','top','top']"
                  data-voffset="['250','250','250','250']"
                  data-fontsize="['15','16',20']"
                  data-width="380"
                  data-height="150"
                  data-whitespace="normal"
                  data-transform_idle="o:1;"
                  data-transform_in="x:-50px;opacity:0;s:500;e:Power1.easeInOut;" 
                  data-transform_out="x:50px;opacity:0;s:500;e:Power1.easeInOut;" 
                  data-start="500"
                  data-splitin="chars"
                  data-splitout="none" 
                  data-basealign="slide"
                  data-responsive_offset="on"
                  data-elementdelay="0.01"                  
                  style="z-index: 7; min-width: 380px; max-width: 380px; max-width: 180px; max-width: 180px; white-space: normal; line-height: 25px;">The best and most beautiful things in the world cannot be seen or even touched they must be felt with the heart.
                </div>-->

                <!-- LAYER NR. 4 -->
                <div class="tp-caption BigBold-Button rev-btn text-uppercase" 
                  id="rs-3-layer-4"
                  data-x="['center']" 
                  data-hoffset="['0']" 
                  data-y="['top']" 
                  data-voffset="['250','250','250','250']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
                  data-transform_in="x:-50px;opacity:0;s:500;e:Power1.easeInOut;" 
                  data-transform_out="x:50px;opacity:0;s:500;e:Power1.easeInOut;" 
                  data-start="500"
                  data-splitin="none" 
                  data-splitout="none"
                  data-basealign="slide" 
                  data-responsive_offset="on" 
                  data-responsive="on"
                  style="z-index: 8; white-space: nowrap;text-transform:center;border-color:rgba(255, 255, 255, 0.25);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;"><a href="/volunteer.html" class="text-white">register now <i style="font-size: .8rem; vertical-align: middle;" class="fa fa-arrow-circle-right text-white ml-5"></a></i>
               </div>
              </li>
            </ul>
          </div>
          <!-- end .rev_slider -->
        </div>
        <!-- end .rev_slider_wrapper -->
        <script>
          $(document).ready(function(e) {
            $(".rev_slider").revolution({
              sliderType: "standard",
              sliderLayout:"fullscreen",
              dottedOverlay:"none",
              delay:5000,
              navigation: {
                keyboardNavigation:"off",
                keyboard_direction: "horizontal",
                mouseScrollNavigation:"off",
                onHoverStop:"off",
                touch:{
                    touchenabled:"on",
                    swipe_threshold: 75,
                    swipe_min_touches: 1,
                    swipe_direction: "horizontal",
                    drag_block_vertical: false
                }
                ,
                bullets: {
                    enable:true,
                    hide_onmobile:true,
                    style:"zeus",
                    hide_onleave:true,
                    direction:"vertical",
                    h_align:"bottom",
                    v_align:"center",
                    h_offset:30,
                    v_offset:0,
                    space:10,
                    tmp:''
                }
                ,
                thumbnails: {
                  style:"gyges",
                  enable:true,
                  width:60,
                  height:60,
                  min_width:60,
                  wrapper_padding:0,
                  wrapper_color:"#000000",
                  wrapper_opacity:"0",
                  tmp:'<span class="tp-thumb-img-wrap">  <span class="tp-thumb-image"></span></span>',
                  visibleAmount:10,
                  hide_onmobile:true,
                  hide_onleave:true,
                  direction:"horizontal",
                  span:false,
                  position:"inner",
                  space:10,
                  h_align:"left",
                  v_align:"bottom",
                  h_offset:30,
                  v_offset:30
                }
              },
              responsiveLevels:[1240,1024,778,480],
              gridwidth: [1170, 1024, 778, 480],
              gridheight: [600, 768, 960, 720],
              lazyType:"none",
              parallax: {
                  origo: "slidercenter",
                  speed: 1000,
                  levels: [5, 10, 15, 20, 25, 30, 35, 40, 45, 46, 47, 48, 49, 50, 100, 55],
                  type: "scroll"
              },
              shadow:0,
              spinner:"off",
              stopLoop:"on",
              stopAfterLoops:0,
              stopAtSlide: -1,
              shuffle:"off",
              autoHeight:"off",
              hideThumbsOnMobile:"off",
              hideSliderAtLimit:0,
              hideCaptionAtLimit:0,
              hideAllCaptionAtLilmit:0,
              debugMode:false,
              fallbacks: {
                simplifyAll:"off",
                nextSlideOnWindowFocus:"off",
                disableFocusListener:false
              }
            });
          });
        </script>
        <!-- Slider Revolution Ends -->

      </div>
    </section>

    <!-- Section: home-boxes -->
    <!--<section>
      <div class="container pt-0 pb-0">
        <div class="section-content">
          <div class="row equal-height-inner home-boxes" data-margin-top="-100px">
            <div class="col-sm-12 col-md-3 pl-0 pl-sm-15 pr-0 pr-sm-15 sm-height-auto mt-sm-0 wow fadeInLeft animation-delay4">
              <div class="sm-height-auto" style="background-color: rgba(255, 87, 34, 0.80) !important;">
                <div class="text-center pt-10 pb-30">
                  <i class="flaticon-charity-shelter text-white font-64"></i>
                  <h4 class="text-uppercase mt-0"><a href="#" class="text-white">Infrastructure</a></h4>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-3 pl-0 pl-sm-15 pr-0 pr-sm-15 sm-height-auto mt-sm-0 wow fadeInLeft animation-delay1">
              <div class="sm-height-auto" style="background-color: rgba(255, 87, 34, 0.95) !important;">
                <div class="text-center pt-10 pb-30">
                  <i class="flaticon-charity-donation-box text-white font-64"></i>
                  <h4 class="text-uppercase mt-0"><a href="#" class="text-white">Access to Finance</a></h4>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-3 pl-0 pl-sm-15 pr-0 pr-sm-15 sm-height-auto mt-sm-0 wow fadeInLeft animation-delay2">
              <div class="sm-height-auto" style="background-color: rgba(255, 87, 34, 0.80) !important;">
                <div class="text-center pt-10 pb-30">
                  <i class="flaticon-charity-supportive-hands text-white font-64"></i>
                  <h4 class="text-uppercase mt-0"><a href="#" class="text-white">Market Access</a></h4>
                </div>
              </div>
            </div>
            
            <div class="col-sm-12 col-md-3 pl-0 pl-sm-15 pr-0 pr-sm-15 sm-height-auto mt-sm-0 wow fadeInLeft animation-delay3">
              <div class="sm-height-auto" style="background-color: rgba(255, 87, 34, 0.95) !important;">
                <div class="text-center pt-10 pb-30">
                  <i class="flaticon-charity-hand-holding-a-stalk text-white font-64"></i>
                  <h4 class="text-uppercase mt-0"><a href="#" class="text-white">On-farm practices</a></h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>-->
    <section class="pt-30 pb-30">
      <div class="container">
        <div class="section-content">
          <div class="row">
            <div class="col-md-6 mt-20" >
              <div class="title-separator mb-10">
                <span class="text-uppercase font-26 text-theme-colored">LIFFT-Cashew</span>
              </div>
              
              <p style="font-size: 17px; font-family: 'Vinyl', sans-serif; text-align: justify;" class="pr-15">This is a 6-year program (2017-2023) funded by USDA to enhance the production and trade of cashews in local and international markets. The target areas are the cashew growing regions of Senegal, The Gambia and Guinea-Bissau.</p>
              <div class="mb-20">
                <p style="font-size: 17px; text-align: justify;">The project works around three objectives which are:</p>
                <ul class="list-icon theme-colored square">
                  <li style="text-align: justify; font-size: 17px; "><i class="fa fa-hand-o-right"></i>Increase or maintain quality of RCN outturn in 52-54 lbs;</li>
                  <li style="text-align: justify; font-size: 17px; "><i class="fa fa-hand-o-right"></i>Strengthen cooperatives and sale up to 50% by organizing sales;</li>
                  <li style="text-align: justify; font-size: 17px; "><i class="fa fa-hand-o-right"></i>Increase processing of RCN to additional 30000 tons locally.</li>
                </ul>
              </div>
              <a href="/about.html" class="btn btn-default btn-theme-colored btn-flat font-17 btn-lg">Read More</a>
            </div>
            <div class="col-md-6 pr-0">
              <div class="thumb">
                <img class="img-fullwidth hidden-xs" src="/assets/img/cashew_2.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Section: 
    <section class="parallax layer-overlay  overlay-dark-7" data-bg-img="/assets/img/event_12.jpg">
      <div class="container pb-30">
        <div class="section-title text-center">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h2 class="mt-0 line-height-1 text-uppercase font-28 text-white">what we do</h2>
              <h4 class="lead text-white">These objectives are implemented by four components working in perfect synergy</h4>
            </div>
          </div>
        </div>
        
        <div class="section-content">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 pb-sm-20">
              <div class="icon-box icon-box-effect p-15 bg-light border-bottom-3px" style="width: 360px; height: 170px;">
                <a href="#" class="icon mb-0 mr-0 pull-left flip">
                  <i class="flaticon-charity-shelter text-theme-colored font-40"></i>
                </a>
                <div class="ml-80">
                  <h5 class="icon-box-title mt-15 mb-5 line-bottom"><strong>Infrastructure</strong></h5>
                  <p class="text-gray">More than 130 kilometers of roads built</p>
                </div>
              </div>
              <div class="icon-box icon-box-effect p-15 bg-light border-bottom-3px" style="width: 360px; height: 170px;">
                <a href="#" class="icon mb-0 mr-0 pull-left flip">
                  <i class="flaticon-charity-donation-box text-theme-colored font-40"></i>
                </a>
                <div class="ml-80">
                  <h5 class="icon-box-title mt-15 mb-5 line-bottom"><strong> Access to finance</strong></h5>
                  <p class="text-gray">Facilitating private investment and loans between loans and the cashew sector</p>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 pb-sm-20">
              <div class="icon-box icon-box-effect p-15 bg-light border-bottom-3px" style="width: 360px; height: 170px;">
                <a href="#" class="icon mb-0 mr-0 pull-left flip">
                  <i class="flaticon-charity-supportive-hands text-theme-colored font-40"></i>
                </a>
                <div class="ml-80">
                  <h5 class="icon-box-title mt-15 mb-5 line-bottom"><strong>Market Access</strong></h5>
                  <p class="text-gray">Organizing collective sales and commercialization</p>
                </div>
              </div>
              <div class="icon-box icon-box-effect p-15 bg-light border-bottom-3px" style="width: 360px; height: 170px;">
                <a href="#" class="icon mb-0 mr-0 pull-left flip">
                  <i class="flaticon-charity-hand-holding-a-stalk text-theme-colored font-40"></i>
                </a>
                <div class="ml-80">
                  <h5 class="icon-box-title mt-15 mb-5 line-bottom"><strong>On-Farm Practices</strong></h5>
                  <p class="text-gray">Improving the quality of cashews and introducing organic certification</p>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 pb-sm-30">
              <div class="image-box-thum">
                <img class="img-fullwidth" alt="" src="/assets/img/event_12.jpg">
              </div>
              <h5 class="mb-5 text-white text-justify"><em>The integration of the three governments (Senegal, The Gambia and Guinea Bissau) remains one of the major priorities for the sustainability of the activities implemented. <a class="font-14 text-theme-colored font-weight-600" href="/about.html">Read more..</a></em></h5>
              
            </div>
          </div>
        </div>
      </div>
    </section>-->
    <!-- Section: home -->
    <section id="home" class="parallax layer-overlay  overlay-dark-7" style="height: 649px;" data-bg-img="/assets/img/event_12.jpg">
      <div class="display-table">
        <div class="display-table-cell">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 ">
                <h1 class="tagline text-white font-60 text-uppercase" style="font-weight: bold;">
                  <span class="typed-text-carousel" data-speed="45" data-back_delay="400" data-loop="true">
                    <span>Four components working in perfect synergy</span>
                    <span>Infrastructure: More than 130 kilometers of roads built</span>
                    <span>Market Access: Organizing collective sales and commercialization</span>
                    <span>Access to finance: Facilitating private investment and loans </span>
                    <span>On-Farm Practices: Improving the quality of cashews and introducing organic certification</span>
                  </span>
                </h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Section: blog -->
    <section id="blog">
      <div class="container pb-30">
        <div class="section-title text-center">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
              <h2 class="mt-0 line-height-1 text-center text-uppercase font-28">Latest <span class="text-theme-colored font-weight-400">News</span></h2>
              
            </div>
          </div>
        </div>
        <div class="section-content">
          <div class="row">
            {% for post in site.posts limit:3 %}
            <div class="col-sm-4 col-md-4 col-lg-4" style="visibility: visible;">
              <article class="post clearfix maxwidth600 bg-lightest mb-30">
                <div class="entry-header">
                  <div class="post-thumb thumb" style="width: 360px; height: 240px;"> <img src="{{ post.image }}" alt="{{ post.title }}" class="img-responsive img-fullwidth" > </div>
                  <div class="entry-meta meta-absolute text-center p-15" style="background-color: #c26d28;">
                    <div class="display-table">
                      <div class="display-table-cell">
                        <ul>
                          <li><a href="#">{{ post.publication_date | date: '%b' }}</a></li>
                          <li><a href="#">{{ post.publication_date | date: '%d' }}</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="entry-content border-1px p-20">
                  <h3 class="entry-title mt-0 pt-0 text-uppercase" style="height: 80px;"><a href="#">{{ post.title }}</a></h3>
                  <!--<ul class="list-inline entry-date font-12 mt-5">
                    <li><i class="fa fa-clock-o mr-5"></i> {{ post.author }} </li>
                    <li><i class="fa fa-map-marker mr-5"></i> {{ post.location_t }}, {{ post.location_c }} </li>
                  </ul>-->
                  <!--<p class="mb-20 mt-15 font-13">{{ post.content | slice: 0, 100 }}...</p>-->
                  <a class="mt-10 text-theme-colored" href="{{ post.url }}">Read more <i class="fa fa-angle-double-right"></i></a>
                </div>
              </article>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </section>
    <!--<section id="home" class="divider">
      <div class="container-fluid p-0">
        <div class="row">
          <div class="col-md-12">
            <div class="owl-carousel-3col">
              {% for post in site.posts limit:3 %}
              <div class="item" style="width: auto; height: 440px;">
                <div class="featured-blog">
                  <img src="{{ post.image }}" alt="{{ post.title }}" >
                  <div class="featured-blog-details">
                    <h2 class="text-white mb-5">{{ post.title }}</h2>
                    <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <a href="{{ post.url }}" class="btn btn-theme-colored btn-sm mt-5">read more</a>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>-->

    <!-- Section: COVID 19 --
    <section class="divider parallax layer-overlay overlay-dark-7" data-bg-img="/assets/img/covid19.jpg" data-parallax-ratio="0.2">
      <div class="container pt-90 pb-90">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1 class="text-white">COVID-19 impact on the cashew value chain</h1>
              <p class="lead text-white" style="text-align: justify;">In the first few months of a normal year, over 55% of all cashews would be harvested by farmers in West Africa, dried and shipped in raw form to Asian processors before being sold to consumers worldwide. But this year, the pandemic was hitting the sector just as West Africa’s cashew marketing season was meant to kick off.</p>
            <div class="progress-item mt-0">
              <div class="progress mb-0">
                <div class="progress-bar" data-percent="55"></div>
              </div>
            </div>
            <div class="row mt-20">
              <div class="col-xs-6 col-md-6 text-left text-white">
                This Year: 110 MT
              </div>
              <div class="col-xs-6 col-md-6 text-right text-white">
                Last Year: 200 MT
              </div>
            </div>
            <a style="transition: none 0s ease 0s ; line-height: 16px; border-width: 0px; padding: 8px 20px; letter-spacing: 1px; font-weight: 400; font-size: 13px;" class="btn btn-default btn-circled btn-transparent pl-20 pr-20 bg-white text-black mt-30" href="https://www.reuters.com/article/us-health-coronavirus-africa-cashew-idUSKBN23J15R" target="blank">More information</a>
          </div>
        </div>
      </div>
    </section>  -->
    <section class="divider parallax layer-overlay overlay-dark-6" data-bg-img="/assets/img/cashew_141.jpg" data-parallax-ratio="0.2">
      <div class="container pt-90 pb-90">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50 wow fadeInLeft " data-wow-duration="1s" data-wow-delay="0.3s">
            <div class="funfact xs-pull-center">
              <i class="pe-7s-smile text-white-f1 mt-20 font-48 pull-left flip"></i>
              <div class="ml-60">
                <h2 class="animate-number text-white-f1 mt-0 font-48 line-bottom" data-value="22435" data-animation-duration="2000">0</h2>
                <div class="clearfix"></div>
                <h4 class="font-14 text-white-f1">FAMILIES HELPED</h4>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.4s">
            <div class="funfact xs-pull-center">
              <i class="pe-7s-rocket text-white-f1 mt-20 font-48 pull-left flip"></i>
              <div class="ml-60">
                <h2 class="animate-number text-white-f1 mt-0 font-48 line-bottom" data-value="66" data-animation-duration="2500">0</h2>
                <div class="clearfix"></div>
                <h4 class="font-14 text-white-f1">KM OF ROADS BUILT</h4>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
            <div class="funfact xs-pull-center">
              <i class="pe-7s-add-user text-white-f1 mt-20 font-48 pull-left flip"></i>
              <div class="ml-60">
                <h2 class="animate-number text-white-f1 mt-0 font-48 line-bottom" data-value="2100" data-animation-duration="3000">0</h2>
                <div class="clearfix"></div>
                <h4 class="font-14 text-white-f1">PEOPLES TRAINED</h4>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.6s">
            <div class="funfact xs-pull-center">
              <i class="pe-7s-global text-white-f1 mt-20 font-48 pull-left flip"></i>
              <div class="ml-60">
                <h2 class="animate-number text-white-f1 mt-0 font-48 line-bottom" data-value="10000" data-animation-duration="3500">K</h2>
                <div class="clearfix"></div>
                <h4 class="font-14 text-white-f1">TONS OF CASHEW</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    
    <!-- Section: Events and stories --
    <section>
      <div class="container pb-50">
        <div class="section-title text-center">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
              <h2 class="mt-0 line-height-1 text-center text-uppercase font-28">Become a <span class="text-theme-colored font-weight-400">Volunteer</span></h2>
              <p>{{ page.description}}</p>
            </div>
          </div>
        </div>
        <div class="section-content">
          <div class="row">
            <div class="col-md-6">
              <h3 class="bg-theme-colored p-15 pl-30 mb-0 text-white">Become a Volunteer</h3>
              <form  class="bg-light p-30 pb-15" name="job_apply_form" action="https://formspree.io/f/mrgolvgw" method="post" enctype="multipart/form-data" target="_blank">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>First Name</label>
                      <input name="first_name" type="text" placeholder="Enter First Name" required="" class="form-control">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Last Name</label>
                      <input name="last_name" type="text" placeholder="Enter Last Name" required="" class="form-control">
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label>Email</label>
                      <input name="email" class="form-control required email" type="email" placeholder="Enter Email">
                    </div>
                  </div>
                </div>
                <div class="row">               
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="sex">Sex <small>*</small></label>
                      <select name="sex" class="form-control required">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="branch">Choose Country <small>*</small></label>
                      <select name="branch" class="form-control required">
                        <option value="SENEGAL">Senegal</option>
                        <option value="GUINEA-BISSAU">Guinea-Bissau</option>
                        <option value="GAMBIA">Gambia</option>
                        <option value="USA">United States</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Message <small>*</small></label>
                  <textarea name="message" class="form-control required" rows="2" placeholder="Your cover letter/message sent to the employer"></textarea>
                </div>
                <div class="form-group">
                  <label for="attachment">Resume / CV Upload</label>
                  <input  name="attachment" class="file" type="file" multiple data-show-upload="false" data-show-caption="true">
                  
                </div>
                <div class="form-group">
                  
                  <button type="submit" class="btn btn-block btn-dark btn-theme-colored btn-sm mt-20 pt-10 pb-10" data-loading-text="Please wait...">Apply Now</button>
                </div>
              </form>
              Job Form Validation--
              <script type="text/javascript">
                $("#volunteer_apply_form").validate({
                  submitHandler: function(form) {
                    var form_btn = $(form).find('button[type="submit"]');
                    var form_result_div = '#form-result';
                    $(form_result_div).remove();
                    form_btn.before('<div id="form-result" class="alert alert-success" role="alert" style="display: none;"></div>');
                    var form_btn_old_msg = form_btn.html();
                    form_btn.html(form_btn.prop('disabled', true).data("loading-text"));
                    $(form).ajaxSubmit({
                      dataType:  'json',
                      success: function(data) {
                        if( data.status == 'true' ) {
                          $(form).find('.form-control').val('');
                        }
                        form_btn.prop('disabled', false).html(form_btn_old_msg);
                        $(form_result_div).html(data.message).fadeIn('slow');
                        setTimeout(function(){ $(form_result_div).fadeOut('slow') }, 6000);
                      }
                    });
                  }
                });
              </script>
            </div>
            <div class="col-md-6 sm-text-center">
              <img src="/assets/img/volunteer1.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>-->
<!-- Section: Divider
    <section class="divider parallax layer-overlay overlay-dark-7" data-bg-img="/assets/img/cashew_141.jpg">
      <div class="container pt-0 pb-0">
        <div class="section-content">
          <div class="row equal-height-inner">
            <div class="col-md-8 sm-height-auto">
              <div class="p-50 p-sm-20 pt-sm-40 bg-light-transparent">
                <h2 class="title mt-0 line-bottom line-bg-white text-black-222 text-uppercase">Why People Choose Us</h2>
                <div class="items mb-30">
                  <div class="icon-box p-0">
                    <a href="#" class="icon mb-0 mr-0 pull-left">
                      <i class="flaticon-charity-hands-with-hearts text-theme-colored font-50"></i>
                    </a>
                    <div class="ml-80">
                      <h4 class="icon-box-title">The Problem</h4>
                      <p class="text-black-333">This agro-ecological zone produces over 222,000 metric tons of raw cashew nut annually, however only 1.2% of raw cashew nut produced is processed locally. The weakening of the regional cashew value chain has left many farmers without economic opportunity, stagnating market infrastructure and financial services.</a></p>
                      
                    </div>
                  </div>
                </div>
                <div class="items mb-30">
                  <div class="icon-box p-0">
                    <a href="#" class="icon mb-0 mr-0 pull-left">
                      <i class="flaticon-charity-responsible-energy-use text-theme-colored font-50"></i>
                    </a>
                    <div class="ml-80">
                      <h4 class="icon-box-title">The Solution</h4>
                      <p class="text-black-333">Our program addresses this by developing value chain linkages necessary to support an integrated regional trade network for the cashew value chain, and enhancing the production and trade of cashews in local and international markets.</p>
                      <br>
                      <a class="btn btn-colored btn-sm btn-theme-colored" href="/about.html">Read more</a>
                    </div>
                  </div>
                </div>
               
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->

      

    <!-- Section: Indicators--
    <section>
      <div class="container pb-sm-10">
        <div class="section-title text-center">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h2 class="mt-0 line-height-1 text-uppercase font-28">Latest <span class="text-theme-colored font-weight-400">indicators</span></h2>
              <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisici elit. Illo, laudantium, accusantium impedit magnam nobis</p>
            </div>
          </div>
        </div>
        <div class="section-content">
          <div class="row mtli-row-clearfix">
            {% for indicator in site.indicators %}
            <div class="col-sm-4 col-md-4 col-lg-4 wow fadeInUp" data-wow-duration="1.5s" data-wow-offset="10">
              <div class="causes bg-lighter maxwidth500 mb-sm-30">
                <div class="thumb">
                  <img class="img-fullwidth" alt="{{ indicator.title }}" src="{{ indicator.image }}">
                </div>
                <div class="progress-item mt-0">
                  <div class="progress mb-0">
                    <div class="progress-bar" data-percent="60"></div>
                  </div>
                </div>
                <div class="causes-details clearfix border-bottom p-15 pt-10">
                  <h4><a href="#">{{ indicator.title }}</a></h4>
                  <p>{{ indicator.subtitle }}</p>
                  <ul class="list-inline clearfix mt-20">
                    <li class="pull-left flip pr-0">Result: <span class="font-weight-700">{{ indicator.result }}</span></li>
                    <li class="text-theme-colored pull-right flip pr-0">Goal: <span class="font-weight-700">{{ indicator.goal }}</span></li>
                  </ul>
                  <div class="mt-10 clearfix">
                   <a class="btn btn-dark btn-theme-colored btn-flat btn-sm pull-left mt-10" href="#">See Details</a>
                   
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </section>-->

     <!-- Divider: STATISTICS -->
    

    <!-- Section: About --
    <section>
      <div class="container pb-50 pb-sm-60">
        <div class="section-content">
          <div class="row">
            
            <div class="col-md-6">
              
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                  <div class="image-box-thum">
                    <img src="/assets/img/cashew_26.jpg" alt="">
                  </div>
                  <div class="image-box-details text-center p-20 pt-30 pb-30 bg-lighter">
                    <h3 class="title mt-0">LIFFT CASHEW PROJECT</h3>
                    <p class="desc mb-10">The Linking Infrastructure, Finance, and Farms to Cashew (LIFFT-Cashew) is a sub-regional project designed to create a more integrated and durable regional network in the Senegal, The Gambia, and Guinea-Bissau cashew production zone (SeGaBi Zone).  We want to enhance the cultivation of cashews and the processing, and selling of cashew products in the local and international markets.</p>
                    <a href="/about.html" class="btn btn-colored btn-theme-colored">Read More</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <h2 class="mt-0 line-height-1 mt-sm-20 line-bottom"><span class="font-weight-300">Get</span> Involved</h2>
              <div class="icon-box p-20 pt-10 pb-10 bg-light">
                <div class="mb-30">
                  <a href="#" class="pull-left mr-20">
                    <strong><i class="pe-7s-way text-theme-colored" style="font-size: 85px;"></i></strong>
                  </a>
                  <a> <h1 class="mt-10">Become  a<strong><span style="font-size: 46px;"> partner</span></strong></h1></a>
                </div>
                <div>
                  <p class="text-gray text-justify">Lorem ipsum dolor sit ametcon ipsum dolor sitsectetu radipisicing elit. Mollitia quasi quinven tore, cumque nulla <a class="font-13" href="page-about1.html">read more...</a></p>
                </div>
              </div>
              <div class="icon-box p-20 pt-10 pb-10 bg-light">
                <div class="mb-30">
                  <a href="#" class="pull-left mr-20">
                    <i class="pe-7s-users text-theme-colored" style="font-size: 65px;"></i>
                  </a>
                  <a> <h1 class="mt-10">Become a<strong><span style="font-size: 35px;"> Volunteer</span></strong></h1></a>
                </div>
                <div>
                  <p class="text-gray text-justify">Lorem ipsum dolor sit ametcon ipsum dolor sitsectetu radipisicing elit. Mollitia quasi quinven tore, cumque nulla consec. Mollitia quasi quinven tore, cumque <a class="font-13" href="page-about1.html">read more...</a></p>
                </div>
              </div>
              <div class="icon-box p-20 pt-10 pb-10 mb-0 bg-light">
                <div class="mb-30">
                  <a href="#" class="pull-left mr-20">
                    <i class="pe-7s-wallet text-theme-colored"></i>
                  </a>
                  <a> <h1 class="mt-10">Join <strong>the project</strong></h1></a>
                </div>
                <div>
                  <p class="text-gray text-justify">Lorem ipsum dolor sit ametcon ipsum dolor sitsectetu radipisicing elit. Mollitia quasi quinven tore, cumque nulla consec. Mollitia quasi quinven tore, cumque <a class="font-13" href="page-about1.html">read more...</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
   
    <!-- Divider: testimonials --
    <section class="divider parallax layer-overlay overlay-dark-9" data-bg-img="/assets/img/cashew_141.jpg" data-parallax-ratio="0.2">
      <div class="container">
        <div class="section-content">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="testimonial">
                <div class="owl-carousel-1col" data-dots="true">
                  <div class="item text-center">
                    <p class="mb-0 font-droid font-22 text-white-f1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel esse quibusdam nihil a necessitatibus natus, voluptas fugiat officiis ipsa earum unde sit consequatur. Maxime harum ab pariatur obcaecati ut eos voluptatum.</p>
                    <i class="fa fa-quote-left text-gray-lightgray font-42 mt-20"></i>
                    <a class="mt-20 display-block" href="#">
                      <img alt="" src="/assets/img/story_2.jpg" style="width: 70px;" class="p-5 border-2px">
                    </a>
                    <h4 class="service-box-title font-weight-800 text-white-f1">Adama</h4>
                    <span class="font-14 font-weight-600 text-white-f1">Cashew Farmer</span>
                  </div>
                  <div class="item text-center">
                    <p class="mb-0 font-droid font-22 text-white-f1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel esse quibusdam nihil a necessitatibus natus, voluptas fugiat officiis ipsa earum unde sit consequatur. Maxime harum ab pariatur obcaecati ut eos voluptatum.</p>
                    <i class="fa fa-quote-left text-gray-lightgray font-42 mt-20"></i>
                    <a class="mt-20 display-block" href="#">
                      <img alt="" src="/assets/img/story_5.jpg" style="width: 70px;" class="p-5 border-2px">
                    </a>
                    <h4 class="service-box-title font-weight-800 text-white-f1">Babacar</h4>
                    <span class="font-14 font-weight-600 text-white-f1">Cashew investor</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>-->
    <!-- Divider: Google Map -->
    
  

</div>