---
layout: default
---
  <!-- Start main-content -->
  <div class="main-content">
    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-8" data-bg-img="/assets/img/team.jpg">
      <div class="container pt-150 pb-60">
        <!-- Section Content -->
        <div class="section-content">
          <div class="row">
            <div class="col-md-12 text-center">
              <h3 class="font-28 text-white">{{ page.title }}</h2>
              <!--<ol class="breadcrumb text-center text-black mt-10">
                <li><a href="#">Home</a></li>
                <li class="active text-theme-colored">{{ page.title }}</li>
              </ol>-->
            </div>
          </div>
        </div>
      </div>      
    </section>

    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="job-overview">
              <!--<dl class="dl-horizontal">
                <dt><i class="fa fa-calendar text-theme-colored mt-5 font-25"></i></dt>
                <dd>
                  <h3 class="mt-0">Date Posted:</h3>
                  <p>{{ page.date | date: "%d" }} {{ page.date | date: "%b" }}, {{ page.date | date: "%y" }}</p>
                </dd>
              </dl>-->
              <dl class="dl-horizontal">
                <dt class="hidden-xs hidden-sm"><i class="fa fa-calendar text-theme-colored mt-5 font-25"></i></dt>
                <dd>
                  <h3 class="mt-0 line-bottom mb-15" style="font-weight: bold;">Deadline:</h3>
                  <p style="font-size: 17px;">{{ page.deadline | date: "%d" }} {{ page.deadline | date: "%b" }}, {{ page.deadline | date: "%y" }}</p>
                </dd>
              </dl>
              <dl class="dl-horizontal">
                <dt class="hidden-xs hidden-sm"><i class="fa fa-map-marker text-theme-colored mt-5 font-25"></i></dt>
                <dd>
                  <h3 class="mt-0 line-bottom mb-15" style="font-weight: bold;">Location:</h3>
                  <p style="font-size: 17px;">{{ page.town }}, {{ page.country }}</p>
                </dd>
              </dl>
              <dl class="dl-horizontal">
                <dt class="hidden-xs hidden-sm"><i class="fa fa-map-marker text-theme-colored mt-5 font-25"></i></dt>
                <dd>
                  <h3 class="mt-0 line-bottom mb-15" style="font-weight: bold;">Address:</h3>
                  <p style="font-size: 17px;">{{ page.address }}</p>
                </dd>
              </dl>
              <dl class="dl-horizontal">
                <dt class="hidden-xs hidden-sm"><i class="fa fa-clock-o text-theme-colored mt-5 font-25"></i></dt>
                <dd>
                  <h3 class="mt-0 line-bottom mb-15" style="font-weight: bold;">Type:</h3>
                  <p style="font-size: 17px;">{{ page.type }}</p>
                </dd>
              </dl>
              <dl class="dl-horizontal">
                <dt class="hidden-xs hidden-sm"><i class="fa fa-money text-theme-colored mt-5 font-25"></i></dt>
                <dd>
                  <h3 class="mt-0 line-bottom mb-15" style="font-weight: bold;">Salary:</h3>
                  <p style="font-size: 17px;">{{ page.salary_range }}</p>
                </dd>
              </dl>
              <!--<a class="btn btn-dark mt-20" href="#">Apply Now</a>-->
            </div>
          </div>
          <div class="col-md-9 mt-xs-15">
            <div class="icon-box mb-0 p-0">
              <a href="#" class="icon icon-gray pull-left mb-0 mr-10">
                <i class="pe-7s-users text-theme-colored"></i>
              </a>
              <h3 class="icon-box-title pt-15 mt-0 mb-40" style="font-weight: bold; font-size: 25px;">{{ page.title }}</h3>
              <hr>
              {{ page.content }}
          </div>
        </div>
      </div>
    </section>

    <!-- Section: Job Apply Form -->
    <section class="divider parallax layer-overlay overlay-dark-8" data-bg-img="/assets/img/team.jpg">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 bg-lightest-transparent p-30 pt-10">
            <h1 class="text-center text-uppercase text-theme-colored mb-20">Apply Now</h1>
            <hr>
            <form action="https://formspree.io/f/mvovqnoy" method="POST" id="my-form" target="_blank" enctype="multipart/form-data">
              <div class="row">
                <div class="col-sm-6 col-xs-12">
                  <div class="form-group">
                    <label class="text-white">First Name <small>*</small></label>
                    <input name="first_name" type="text" placeholder="FIRST NAME" required="" class="form-control">
                  </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                  <div class="form-group">
                    <label class="text-white">Last Name <small>*</small></label>
                    <input name="last_name" type="text" placeholder="LAST NAME" required="" class="form-control">
                  </div>
                </div>             
                <div class="col-sm-12 col-xs-12">
                  <div class="form-group">
                    <label class="text-white">Email <small>*</small></label>
                    <input name="email" class="form-control required email" type="email" placeholder="EMAIL">
                  </div>
                </div>
               
              </div>
              <!--<div class="form-group">
                <label>Message <small>*</small></label>
                <textarea name="message" class="form-control required" rows="5" placeholder="Your cover letter/message sent to the employer"></textarea>
              </div>-->
              <div class="row">
                <div class="col-sm-6 col-xs-12">
                  <div class="form-group mt-15">
                    <div class="g-recaptcha" data-sitekey="6LcZz-8ZAAAAAC1sGgo2nGBBllScwtlIbu61VsUN" data-callback="recaptchaCallback"></div>
                    <!--<small>Maximum upload file size: 12 MB</small>-->
                  </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                  <div class="form-group ml-0 pl-0 pull-right">
                    <label class="text-white">Upload your resume here</label>
                    <input class="btn btn-default btn-theme-colored btn-flat btn-sm" name="upload" type="file" >
                    <!--<small>Maximum upload file size: 12 MB</small>-->
                  </div>
                </div>
                <div class="col-sm-12 col-xs-12">
                  <div class="form-group">
                    <button id="my-form-button" type="submit" class="btn btn-block btn-dark btn-theme-colored btn-sm mt-20 pt-10 pb-10" disabled="true">Apply Now</button>
                  </div>
                </div>
              </div>
              <p id="my-form-status"></p>
            </form>
            <!-- Job Form Validation-->
            <script>
                 /* function recaptchaCallback() {
                      var btnSubmit = document.getElementById("my-form-button");
                      if ( btnSubmit.classList.contains("hidden") ) {
                          btnSubmit.classList.remove("hidden");
                          btnSubmitclassList.add("show");
                      }
                  }*/

                   function recaptchaCallback(){
                       document.getElementById("my-form-button").disabled = false;
                     }
              </script>
              <!-- Contact Form Validation-->
              <script>
                window.addEventListener("DOMContentLoaded", function() {

                  // get the form elements defined in your form HTML above
                  
                  var form = document.getElementById("my-form");
                  var button = document.getElementById("my-form-button");
                  var status = document.getElementById("my-form-status");

                  // Success and Error functions for after the form is submitted
                  
                  function success() {
                    form.reset();
                    button.style = "display: none ";
                    status.innerHTML = '<div class="alert alert-success"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' + 'Thank you for contacting us' + '</div>';
                  }

                  function error() {
                    status.innerHTML = '<div class="alert alert-danger"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' + 'Sorry. There was an issue. Please try again' + '</div>';
                  }

                  // handle the form submission event

                  form.addEventListener("submit", function(ev) {
                    ev.preventDefault();
                    var data = new FormData(form);
                    ajax(form.method, form.action, data, success, error);
                  });
                });
                
                // helper function for sending an AJAX request

                function ajax(method, url, data, success, error) {
                  var xhr = new XMLHttpRequest();
                  xhr.open(method, url);
                  xhr.setRequestHeader("Accept", "application/json");
                  xhr.onreadystatechange = function() {
                    if (xhr.readyState !== XMLHttpRequest.DONE) return;
                    if (xhr.status === 200) {
                      success(xhr.response, xhr.responseType);
                    } else {
                      error(xhr.status, xhr.response, xhr.responseType);
                    }
                  };
                  xhr.send(data);
                }
              </script>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- end main-content -->