---
layout: default
---
  <!-- Start main-content -->
  <div class="main-content">
    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-8" data-bg-img="/assets/img/team.jpg">
      <div class="container pt-150 pb-60">
        <!-- Section Content -->
        <div class="section-content">
          <div class="row">
            <div class="col-md-12 text-center">
              <h3 class="font-28 text-white">{{ page.title }}</h2>
              <!--<ol class="breadcrumb text-center text-black mt-10">
                <li><a href="#">Home</a></li>
                <li class="active text-theme-colored">{{ page.title }}</li>
              </ol>-->
            </div>
          </div>
        </div>
      </div>      
    </section>

    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="job-overview">
              <!--<dl class="dl-horizontal">
                <dt><i class="fa fa-calendar text-theme-colored mt-5 font-25"></i></dt>
                <dd>
                  <h3 class="mt-0">Date Posted:</h3>
                  <p>{{ page.date | date: "%d" }} {{ page.date | date: "%b" }}, {{ page.date | date: "%y" }}</p>
                </dd>
              </dl>-->
              <dl class="dl-horizontal">
                <dt class="hidden-xs hidden-sm"><i class="fa fa-calendar text-theme-colored mt-5 font-25"></i></dt>
                <dd>
                  <h3 class="mt-0 line-bottom mb-15" style="font-weight: bold;">Deadline:</h3>
                  <p style="font-size: 17px;">{{ page.deadline | date: "%d" }} {{ page.deadline | date: "%b" }}, {{ page.deadline | date: "%y" }}</p>
                </dd>
              </dl>
              <dl class="dl-horizontal">
                <dt class="hidden-xs hidden-sm"><i class="fa fa-map-marker text-theme-colored mt-5 font-25"></i></dt>
                <dd>
                  <h3 class="mt-0 line-bottom mb-15" style="font-weight: bold;">Location:</h3>
                  <p style="font-size: 17px;">{{ page.town }}, {{ page.country }}</p>
                </dd>
              </dl>
              <dl class="dl-horizontal">
                <dt class="hidden-xs hidden-sm"><i class="fa fa-map-marker text-theme-colored mt-5 font-25"></i></dt>
                <dd>
                  <h3 class="mt-0 line-bottom mb-15" style="font-weight: bold;">Address:</h3>
                  <p style="font-size: 17px;">{{ page.address }}</p>
                </dd>
              </dl>
              <dl class="dl-horizontal">
                <dt class="hidden-xs hidden-sm"><i class="fa fa-clock-o text-theme-colored mt-5 font-25"></i></dt>
                <dd>
                  <h3 class="mt-0 line-bottom mb-15" style="font-weight: bold;">Type:</h3>
                  <p style="font-size: 17px;">{{ page.type }}</p>
                </dd>
              </dl>
              <dl class="dl-horizontal">
                <dt class="hidden-xs hidden-sm"><i class="fa fa-money text-theme-colored mt-5 font-25"></i></dt>
                <dd>
                  <h3 class="mt-0 line-bottom mb-15" style="font-weight: bold;">Salary:</h3>
                  <p style="font-size: 17px;">{{ page.salary_range }}</p>
                </dd>
              </dl>
              <!--<a class="btn btn-dark mt-20" href="#">Apply Now</a>-->
            </div>
          </div>
          <div class="col-md-9 mt-xs-15">
            <div class="icon-box mb-0 p-0">
              <a href="#" class="icon icon-gray pull-left mb-0 mr-10">
                <i class="pe-7s-users text-theme-colored"></i>
              </a>
              <h3 class="icon-box-title pt-15 mt-0 mb-40" style="font-weight: bold; font-size: 25px;">{{ page.title }}</h3>
              <hr>
              <p class="text-gray" style="text-align: justify;">{{ page.content }}</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Section: Job Apply Form -->
    <section class="divider parallax layer-overlay overlay-dark-8" data-bg-img="/assets/img/team.jpg">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 bg-lightest-transparent p-30 pt-10">
            <h1 class="text-center text-theme-colored mb-20">Apply Now</h1>
            <form action="https://formspree.io/f/mvovqnoy" method="POST" enctype="multipart/form-data" target="_blank">
              <div class="row">
                <div class="col-sm-6 col-xs-12">
                  <div class="form-group">
                    <label class="text-white">First Name <small>*</small></label>
                    <input name="first_name" type="text" placeholder="Enter First Name" required="" class="form-control">
                  </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                  <div class="form-group">
                    <label class="text-white">Last Name <small>*</small></label>
                    <input name="last_name" type="text" placeholder="Enter Last Name" required="" class="form-control">
                  </div>
                </div>             
                <div class="col-sm-12 col-xs-12">
                  <div class="form-group">
                    <label class="text-white">Email <small>*</small></label>
                    <input name="email" class="form-control required email" type="email" placeholder="Enter Email">
                  </div>
                </div>
               
              </div>
              <!--<div class="form-group">
                <label>Message <small>*</small></label>
                <textarea name="message" class="form-control required" rows="5" placeholder="Your cover letter/message sent to the employer"></textarea>
              </div>-->
              <div class="form-group ">
                <label class="text-white">Upload your resume here</label>
                <input class="btn btn-default btn-theme-colored btn-flat btn-sm" name="upload" type="file" >
                <!--<small>Maximum upload file size: 12 MB</small>-->
              </div>
              <div class="form-group">
               
                <button type="submit" class="btn btn-block btn-dark btn-theme-colored btn-sm mt-20 pt-10 pb-10">Apply Now</button>
              </div>
            </form>
            <!-- Job Form Validation-->
            <script type="text/javascript">
              $("#job_apply_form").validate({
                submitHandler: function(form) {
                  var form_btn = $(form).find('button[type="submit"]');
                  var form_result_div = '#form-result';
                  $(form_result_div).remove();
                  form_btn.before('<div id="form-result" class="alert alert-success" role="alert" style="display: none;"></div>');
                  var form_btn_old_msg = form_btn.html();
                  form_btn.html(form_btn.prop('disabled', true).data("loading-text"));
                  $(form).ajaxSubmit({
                    dataType:  'json',
                    success: function(data) {
                      if( data.status == 'true' ) {
                        $(form).find('.form-control').val('');
                      }
                      form_btn.prop('disabled', false).html(form_btn_old_msg);
                      $(form_result_div).html(data.message).fadeIn('slow');
                      setTimeout(function(){ $(form_result_div).fadeOut('slow') }, 6000);
                    }
                  });
                }
              });
            </script>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- end main-content -->